@font-face
{
 font-family: 'Mona_Shark.otf';
 src: url('Mona_Shark.otf') format('truetype') ;
}

@font-face
{
 font-family: 'Badabb.ttf';
 src: url('Badabb.ttf') format('truetype') ;
}

.titrePresentation
{
 font-family: 'Mona_Shark';
 /*padding-top: 60px;*/
}

.titrePresentation span{

	background:#a9c622;
    padding:4px 8px;
}



h1{
	text-align: center;
	Font-Weight: Bold;
	font-size: 100px;
	font-family: 'Badabb.ttf';
	/*padding-top: 50px;*/
}



body{
	background-image: url(fond.png);
	/*background-repeat: no-repeat;*/
	background-size: cover;

}

h3{
	
	padding-top: 50px;
	margin-left: 20px;
	Font-Weight: Bold;
	font-size: 40px;
	font-style: italic;
	color: white;
	/*text-align: center;*/
}

img{
	height: 399px;
	width: 277px;
}

.container-fluid{
	margin-left: 150px;
}

.sortie{
	color: brown;
}

.collec{
	width: 500px;
}

.col{
	text-align: center;
}


.container-fluid1{
	margin-left: 150px;
}	

